button {
  @include button-reset;
}

.fy-Button {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: .875rem;
  font-weight: $font-bold;
  padding: .5em 3.4em;
  color: #fff;
  background-color: #888;
  letter-spacing: .8px;
}

.Button--primary {
  background-color: $fy-green;
}

.Button--primary:hover,
.Button--primary:focus {
  background-color: hsl(163, 55%, 32%);
}