input[type="text"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  display: block;
  width: 100%;
}

input[type="text"]:focus {
  border: 1px solid $fy-softblue;
  outline: 0; 
}

.label__title {
  display: inline-block;
  font-family: $font-heading;
  font-weight: $font-bold;
  color: $fy-darkblue;
}

.fy-signForm-text {
  margin: .9em 0;
  font-size: .875rem;
}
