/* === COLORS 🎨 === */
$fy-softblue: hsl(243, 86%, 85%);
$fy-darkblue: hsl(243, 87%, 12%);
$fy-green: hsl(163, 95%, 43%);
$fy-gray: hsl(0, 0%, 50%);

/* === TYPOGRAPHY === */
$font-body: 'Open Sans', sans-serif; 
$font-heading: 'Raleway', sans-serif;
$base-font-size: 16px;
$line-height: 1.6;
$font-normal: 400;
$font-bold: 700;

/* === VIEWPORT WIDTH === */
$mobile: 375px;
$desktop: 1440px;
$tablet: 769px;
  